.logo {
    margin: 1px 5px 5px 5px;
}

.formInput {
    margin-left: 10px;
}

.gender {
    margin-left: 20px;
}

.skills {
    margin-left: 10px;
}

.skill {
    margin-left: 20px;
    margin-bottom: 10px;
}