<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <!-- HEADER -->
    <div class="header accent p-24 h-100" fxLayout="row" fxLayoutAlign="center start">
        <div fxLayout="row" class="heading">
            <div class="logo">
                <img src="assets/images/logos/logo.png" style="width: 50px; height: 50px">
            </div>
            <div class="mat-display-1">Profile Details</div>
        </div>
    </div>

    <div class="content p-36" fxLayoutAlign="center center">
        <div class="horizontal-stepper-wrapper">
            <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true">
                <mat-step>
                    <form fxLayout="column" [formGroup]="personalInfoForm">
                        <ng-template matStepLabel>Personal Info</ng-template>
                        <div fxFlex="1 0 auto" fxLayout="column">
                            <div class="row">
                                <mat-form-field appearance="outline" fxFlex="100" class="formInput">
                                    <mat-label>First Name</mat-label>
                                    <input matInput formControlName="firstName" required>
                                    <mat-error>First Name is required!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="formInput">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput formControlName="lastName" required>
                                    <mat-error>Last Name is required!</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="row">
                                <mat-form-field appearance="outline" fxFlex="100" class="formInput">
                                    <mat-label>Country</mat-label>
                                    <mat-select placeholder="Country" formControlName="country">
                                        <mat-option *ngFor="let country of countries" [value]="country">
                                            {{country}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="formInput">
                                    <mat-label>State</mat-label>
                                    <input matInput formControlName="state" required>
                                    <mat-error>State is required!</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="row">
                                <mat-form-field appearance="outline" fxFlex="100" class="formInput">
                                    <mat-label>City</mat-label>
                                    <input matInput formControlName="city" required>
                                    <mat-error>City is required!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="formInput">
                                    <mat-label>Street</mat-label>
                                    <input matInput formControlName="street" required>
                                    <mat-error>Street is required!</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="row">
                                <mat-form-field appearance="outline" fxFlex="100" class="formInput">
                                    <mat-label>Zip</mat-label>
                                    <input matInput formControlName="zip" required>
                                    <mat-error>Zip is required!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="formInput">
                                    <mat-label>Telephone No</mat-label>
                                    <input matInput formControlName="telephoneNumber" required>
                                    <mat-error>Telephone No is required!</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Next
                            </button>
                        </div>
                    </form>
                </mat-step>

                <mat-step>
                    <form fxLayout="column" [formGroup]="professionalInfoForm">
                        <ng-template matStepLabel>Professional Info</ng-template>
                        <div fxFlex="1 0 auto" fxLayout="column">

                            <mat-radio-group class="skills" formControlName="skill" required>
                                <div class="h3"><mat-label>Skill : </mat-label></div>
                                <mat-radio-button class="skill" *ngFor="let skill of skills" [value]="skill" required>
                                    {{skill}}
                                </mat-radio-button>
                            </mat-radio-group>

                            <mat-form-field appearance="outline" fxFlex="100" class="formInput">
                                <mat-label>Tag line</mat-label>
                                <input matInput formControlName="tagLine" required>
                                <mat-error>Tag line is required!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100" class="formInput">
                                <mat-label>Description</mat-label>
                                <textarea matInput formControlName="description" required></textarea>
                                <mat-error>Description is required!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100" class="formInput">
                                <mat-label>Experience</mat-label>
                                <textarea matInput formControlName="experience" required></textarea>
                                <mat-error>Experience is required!</mat-error>
                            </mat-form-field>

                            <div class="row">
                                <mat-form-field appearance="outline" fxFlex="100" class="formInput">
                                    <mat-label>Rate/day</mat-label>
                                    <input matInput formControlName="rate" required>
                                    <mat-error>Rate is required!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="formInput">
                                    <mat-label>LinkedIn</mat-label>
                                    <input matInput formControlName="linkedin" required>
                                    <mat-error>Linked In is required!</mat-error>
                                </mat-form-field>
                            </div>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                Previous
                            </button>
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Next
                            </button>
                        </div>
                    </form>
                </mat-step>

                <mat-step>
                    <form fxLayout="column" [formGroup]="paymentInfoForm">
                        <ng-template matStepLabel>Payment Info</ng-template>
                        <div fxFlex="1 0 auto" fxLayout="column">
                            <mat-form-field appearance="outline" fxFlex="100" class="formInput">
                                <mat-label>Name</mat-label>
                                <input matInput formControlName="name" required>
                                <mat-error>name is required!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100" class="formInput">
                                <mat-label>Bank Name</mat-label>
                                <input matInput formControlName="bankName" required>
                                <mat-error>Bank Name is required!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100" class="formInput">
                                <mat-label>Branch</mat-label>
                                <input matInput formControlName="branch" required>
                                <mat-error>Branch is required!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100" class="formInput">
                                <mat-label>Account No</mat-label>
                                <input matInput formControlName="accountNo" required>
                                <mat-error>Account No is required!</mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                Previous
                            </button>
                            <button mat-raised-button type="button" color="accent" (click)="submitForm()">
                                Submit
                            </button>
                        </div>
                    </form>
                </mat-step>
            </mat-horizontal-stepper>

        </div>
    </div>
</div>