ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: rgba(17, 17, 17, 0.466);
 }

 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }

.left {
   float: left;
}
 .right {
    float: right;
    font-size: 20px;
    padding: 14px 16px;
 }

 #logo {
   display: block;
   padding: 14px 16px;
 }

 /* Change the link color to #111 (black) on hover */
//  li a:hover {
//    background-color: #111;
//  }

 .active {
   background-color: #4CAF50;
 }

 #title {
    font-size: 30px;
    font-weight: bold;
 }

 #search {
     font-size: 20px;
     margin-top: 10px;
 }