.simple {
    width: 100%;
    overflow: hidden;
    background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
    background-size: cover;
}

.logo {
    margin: 1px 5px 5px 5px;
}

.formInput {
    margin-left: 10px;
}


