<div class="dialog">
    <mat-dialog-content class="content">
        <form fxLayout="column" [formGroup]="signupDialogForm">
            <div fxFlex="1 0 auto" fxLayout="column">

                <mat-radio-group class="userType" formControlName="userType" [(ngModel)]="userType" required>
                    <mat-label>I am a....  </mat-label>
                    <mat-radio-button class="userTypesButton" *ngFor="let type of types" [value]="type" required>
                        {{type}}
                    </mat-radio-button>
                </mat-radio-group>
                <div>
                    <mat-checkbox formControlName="policy" required>
                        I accept the <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>.
                    </mat-checkbox>

                </div>
            </div>
        </form>
    </mat-dialog-content>
</div>

<mat-dialog-actions class="actions">
    <button mat-raised-button color="accent" [disabled]="signupDialogForm.invalid" (click)="closeDialog()">SignUp</button>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>

