.dialog {
    background-color: #e9e8e1;
    padding: 10px 10px 10px 10px;
}

.userTypesButton {
    margin: 10px 50px 10px 10px;
}

.content {
    height: 100px;
}

.actions {
    justify-content: flex-end;
}