#wallpaper {
    width: 100%;
    overflow: hidden;
    background: url('/assets/images/backgrounds/home-wall.png') no-repeat;
    background-size: cover;
}

#button {
    margin-left: 5%;
    margin-top: 720px;
}