#wallpaper {
    width: 100%;
    overflow: hidden;
    background: url('/assets/images/backgrounds/wallpaper.jpg') no-repeat;
    background-size: cover;
}

#quote {
    color: white;
    font-size: 50px;
    font-family: Verdana;
    margin-left: 5%;
    margin-top: 10%;
}

#button {
    margin-left: 15%;
    margin-top: 4%;
}